html {
  font-family: Helvetica, Helvetica, sans-serif;
  font-size: 22px;
  width: 100%;
  

}

body {
  background-color: black;
  opacity: 0.9;
}

/* header */
header {
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: seashell;
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 69px;
}

header img {
  margin: 10px;
  height: 50px;
}
/* nav */
nav {
  margin: 0 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  text-decoration: underline;
  display: inline-block;
  margin: 0 0 0 20px;
}

/* main */
main {
  margin-top: 70px;
}

/* mission */
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 700px;
  width: 1200px;
  background-image: url("images/img-mission-background.webp");
}

.mission__content {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: seashell;
  flex-grow: 1;
}

/* featured  */
.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: seashell;
  background-color: black;
  width: 1000px;
  margin: 0 auto;
}

.featured__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.featured__cards img {
  height: 200px;
  width: 300px;
  margin: 0 10px;
}

/* location */
.location {
  text-align: center;
  color: seashell;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background-image: url("./images/img-locations-background.webp");
  background-size: cover;
  padding-top: 47px;
}

.location__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lcard {
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 15px 20px;
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: seashell;
  height: 200px;
  padding: 20px 0;
}

/* footer */
footer {
  color: seashell;
  padding-left: 20px;
}
